* {
    box-sizing: border-box;
}

body {
    font-family: 'Optima', Garamond, sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: white;
    color: black;
}

#header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-color: #517470;
    color: white;
    padding-top: 6rem;
    padding-bottom: 1rem;
}

h1 {
    font-family: 'Optima', Helvetica, sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: left;
}

h2 {
    font-family: Arial, sans-serif;
    color: #3C4048;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
}


h3 {
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
    color: #3C4048;
    display: block;
    display: flex;
    justify-content: center;
}

h3.description-sym {
    margin-top: 2rem;
    font-size: 1.5rem;
}
.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.material-icons {
    color: white;
}

nav {
    position: fixed;
    font-size: 1.2rem;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #a3b18a;
    padding: 0.5rem;
    padding-bottom: 1rem;
    color: white;
}

nav ul li {
    display: inline-block;
    margin: 0 1rem;
    padding: 0;
}


.square-card {
    height: 100%;
}

.center-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
    padding: 0;
}

nav ul li img {
    height: 1em;
    vertical-align: middle;
    margin-right: 0.5em;
    filter: invert(100%);
}


nav ul li a:hover {
    color: white;
    border-bottom: 0.8rem solid #f0f0f0;
    transition: color 0.25s ease-out, border-bottom 0.25s ease-out;
}

header {
    background-size: cover;
    background-position: center;
    background-color: #517470;
    color: white;
    padding-top: 6rem;
    padding-bottom: 1rem;
}

.left-container {
    margin-left: 20px;
    text-align: left; 
}

.card-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    align-items: flex-start; 
    margin-top: 3rem;
  }
  
  .card {
    flex: 1;
    min-height: 250px; 
    width: calc(50% - 20px); 
    margin: 0 10px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }

.card-body {
    flex-grow: 1; 
}
  
.card-image {
    max-height: 100px; 
    width: auto;
    margin-bottom: 10px;
}

.diabetes-info .info-wrapper {
    text-align: center; 
}

.diabetes-info .info-wrapper ul {
    text-align: center; 
    padding-left: 0; 
    list-style-position: inside; 
    margin: 0 auto; 
    max-width: 500px; 
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #59745D;
    color: white;
    text-decoration: none;
    padding: 20px 0;
}

footer p {
    margin: 0;
    line-height: 1.25;
}


footer a {
    color: white;
    text-decoration: none;
}

footer a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

footer a:hover::before {
    transform: scaleX(1);
}

footer p:last-child {
    padding-top: 8px;
}


.checker-img {
    width: 50px !important;
    height: 50px !important;
    margin-right: 2rem;
}

#symptom-input {
    width: 300px;
    padding: 10px;
    border: 3px solid #6189D0;
    border-radius: 20px;
    background-color: #fff;
    color: black;
    margin: 0 auto;
    margin-bottom: 4rem;
    margin-top: 3rem;
    display: block;
}
.health-checker-link {
    color: white;  
    text-decoration: none;
}

.next {
    width: 80px;
    padding: 8px;
    border: 3px solid #6189D0;
    border-radius: 20px;
    background-color: #fff;
    color: black;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10rem;
    display: block;
    transition: background-color 0.1s;
}

.next:hover {
    background-color: #3762A0;
    color: white;
}

.left-container {
    margin-left: 20px; 
}

.profile-options {
    font-size: 1.5rem; 
    margin-top: 30px; 
}

.signup-card {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}